.casa {
    width: 460px;
    height: 400px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: grey;
    position: absolute;
    top: 200px;
    left: 100px;
}

.tejado {
    width: 500px;
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: red;
    position: absolute;
    bottom: 390px;
    right: -25px;
}

.puerta {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: brown;
    position: absolute;
    bottom: -5px;
    right: 150px;
    text-align: center;
    font-size: xx-large;
}

/* con animación */

.ventana {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: blue;
    position: absolute;
    bottom: 200px;
    right: 330px;

}

@keyframes sehizolaluz {
        from {background-color: blue;}
        to {background-color: yellow;}
    }

.ventana:hover {
    animation-name: sehizolaluz;
    animation-duration: 2s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* con transición */

.ventana2 {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    box-sizing: border-box;
    background-color: blue;
    position: absolute;
    bottom: 100px;
    right: 20px;
    transition: background-color 3s;
}

.ventana2:hover {
    background-color: yellow;
}