div {
    width: 15rem;
    height: 20rem;
    border: 5px;
    border-style: solid;
    border-color: black;
    color: white; /* u sure */
    font-size: 3em;
    padding: 1em;
    box-sizing: border-box;
    display:inline-flex;
}
div:nth-child(1) {
    background-color: aliceblue;
    z-index: 0;
    position:absolute;
    right: 550px;
    top: 0px;
}
div:nth-child(2) {
    background-color: red;
    z-index: 1;
    position:absolute;
    right: 450px;
    top: 80px;
}
div:nth-child(3) {
    background-color: grey;
    z-index: 2;
    position:absolute;
    right: 350px;
    top: 160px;
}
div:nth-child(4) {
    background-color: yellow;
    z-index: 3;
    position:absolute;
    right: 250px;
    top: 240px;
}
div:nth-child(5) {
    background-color: green;
    z-index: 4;
    position:absolute;
    right: 150px;
    top: 320px;
}