body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(231, 231, 231);
}
form {
    background-color: white;
    border: solid grey 1px;
    border-radius: 6px;
    margin: 40px;
    text-align: center;
    padding: 20px;
}
input {
    padding: 10px;
}

button {
    margin: 10px;
}
table {
    margin: auto;
    border-collapse: collapse;
}

table thead tr th {
    background-color: grey;
    color: white;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
/* Hacer esto en el script*/
table:nth-child(2) {
    background-color: rgb(206, 204, 204);
}

#btnAgregar {
    padding: 5px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

#btnReset {
    padding: 5px;
    background-color: grey;
    border-radius: 10px; 
}

