li:nth-last-child(2n+7) {
    background-color: red ;
}

li:nth-child(7) {
    background-color: red ;
}

li:nth-last-child(2n+8) {
    text-transform: uppercase;
    background-color: green;
}

li:nth-child(8) {
    text-transform: uppercase;
    background-color: green;
}

li:nth-last-child(1) {
    font-size: 3rem;
}