@font-face {
    font-family: 'Amore Christmas';
    src: url('./Fuentes/Amore Christmas.otf') format('opentype');
    font-weight: normal;
    font-style:oblique;
}

body,html{
  margin-top:0px;
  width:100%;
}
html{
    background-image: url("./fondoFuego.gif"), linear-gradient(to bottom , red,yellow);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(66, 2, 2);
   
}
div:nth-child(1) {
    position: relative;
    margin-top: 10%;
    margin-left: -1%;
    margin-bottom: 10%;
    padding-bottom: 0%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}
div:nth-child(2) {
    position: relative;
    border: solid 20px rgb(82, 82, 82);
    border-radius: 10px;
    border-style: inset;
    margin-top: -5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    padding-right: 20%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 20px 20px rgb(41, 41, 41);
    display: block;
    float: left;
    text-align:center;
    background-image: url("./fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
    
}
    
div:nth-child(3) {
    position: relative;
    border: 40px;
    border-radius: 10px;
    border-style: double;
    border-color: rgb(65, 65, 65);
    margin-top: -5%;
    width: 40%;
    height: 60%;
    box-sizing: border-box;
    display:inline-block;
    padding: 20px;
    bottom: 50px;
    background-image: linear-gradient(to bottom right,grey,rgb(112, 36, 36));
    color: #f0e6d2;
}
.nombre {
    font-family: "Amore Christmas";
    font-size: 100px;
    margin-top: -10px;
    color: white;
    font-style: italic;
}
.imagen {
    width: 400px;
    height: 400px;
    vertical-align: bottom;
}
.imagen {
    transition: width 2s, height 2s, background-color 3s, border 3s, border-radius 3s,margin 3s;
}

.imagen:hover {
    border: 10px;
    background-color: rgb(0, 0, 0,0.2);
    height: 500px;
    width: 500px;
    border: black 10px;
    border-radius: 50px;
    margin: 10px;
}

div h3 {
    color: white;
}

.header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.resumen {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.datos {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.atributos{
    font-style: oblique;
}
.enlaces a {
    text-decoration: none;
    padding: 5px;
}
.tornillo {
    position: absolute;
    width: 20%;
}
.tornillo1 {
    top: 0;
    left: 0;
    transform: translate(-60%, -60%);
}
.tornillo2 {
    top: 0;
    right: 0;
    transform: translate(60%, -60%);
}
.tornillo3 {
   bottom: 0;
    left: 0;
    transform: translate(-60%, 60%);
}
.tornillo4 {
    bottom: 10;
    right: 0;
    transform: translate(60%, -25%);
}