body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
h1,p,h2,form {
    text-align: center;
    margin: auto;
    padding: 10px;
}

table {
    margin: auto;
    align-content: center;
    border: solid black 5px;
    border-radius: 10px;
    padding: 6px;
    background-color: aqua;
    
}

table thead tr th {
    background-color: white;
    border: 2px solid red;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    
}

#tablaBody tr{
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

#tablaBody tr th{
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}